.content{
    background-color: white;
}

.contentFunc{

    display: flex;
    width: 80%;
    padding: 40px;
}

.profile{

    display: flex;
    flex-wrap: wrap;

}

.profile .left{
    width: 80%;
    animation: slide-right 1s;
    opacity: 1;
}

.profile .left h2{

    margin-top: 20px;
    margin-bottom: 20px;
}
.profile .left h5{
    margin-bottom: 10px;
}

.profile .left .desc{
    text-align: justify;
    font-size: 15px;
}

.profile .right{
    width: 20%;
    animation: slide-right 1s;
    opacity: 1;
}


@keyframes slide-right {

    100%{

        transform: translateX(0%);
        opacity: 1;
    }

    0%{
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-left {

    0% {
        left: 100%;
      }
      50% {
        left: 0%;
      }
      100% {
        left: 0;    
      }

}

.socialMedia .iconSocialMedia{
    padding: 10px;
}

@media screen and (max-width: 941px) {

    .contentFunc{
        width: 100%;
        padding: 40px;
    }



    .profile .left{
        width: 100%;
    }

    .profile .right{
        width: 100%;
    }

    .profile .right img{
        width: 100%; /* or any custom size */
        height: 100%; 
        object-fit: cover;
        animation: slide-right 1s;
        opacity: 1;
    }

}

@media screen and (max-width: 919px) {

    .profile .left{
        width: 100%;
    }

    .profile .right{
        width: 100%;
    }

}



.socialMedia .iconSocialMedia a{

    text-decoration: none;

    color: black;

}



.socialMedia .iconSocialMedia a i{



    padding: 10px;

    border-radius: 5px;

    background-color: #b9963e;

    font-size: 20px;

    transition: .3s ease-in;



}



.socialMedia .iconSocialMedia a i:hover{



    color: #b9963e;

    background-color: black;



}



