.contentFunc{
   
    margin: auto;
    width: 100%;
    padding: 20px;
 
}

.headerIntroCompany{

    padding: 10px;
    padding-top: 20px;
}

.headerIntroCompany h1{
    margin-bottom: 10px;

}

.headerIntroCompany hr{

    margin-bottom: 30px;
    border: 1px solid #1d1d11;

}

.headerIntroCompany .serviceTitle{
    text-align: center;
    padding: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 10px #b9963e;
    color: black;


}

.headerIntroCompany .descriptionTitle{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 15px;
    animation:  slide-left .7s ;
}

.containerImage {
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.containerImage .item {
    width: calc(97%/3);
}


.containerImage .item figure{
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.containerImage .item span{

    text-align: justify;
    text-shadow: 1px 1px 10px #b9963e;
    color: #b9963e;
    font-weight: bold;
    font-size: 15px;
    margin: 0;

}

.image {

    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(70%);
    border-radius: 5px;
    box-shadow: 1px 1px 20px grey;    
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}

.containerImage .item figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.containerImage .item figure:hover .image{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    filter: grayscale(0%);
}

.containerImage .item span p{
    display: inline;
    vertical-align: middle;
}

.containerImage .item span .HyperButton{
    color: black;
    margin-left: 10px;
}

.containerImage .item span .HyperButton button{
    background-color: #b9963e;
    width: auto;
    padding: 10px;
    border: 2px solid #b9963e;
    
}

.containerImage .item span .HyperButton button:hover{
    background-color: white;
    color: #b9963e;
    
}

@media screen and (max-width:919px) {

    .containerImage .item{
        width: 100%;
    }

}
